<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit entry</title>
</head>

{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h3><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h3>
{% endblock page_header %}

{% block content %}

<body>
    <h4>Edit entry</h4>
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button name="submit" class="btn btn-primary">Save changes</button>
    </form>
</body>

{% endblock content %}

</html>