<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Topic</title>
</head>

{% extends 'learning_logs/base.html' %}

{% block content %}

<body>
    <p>Topic: {{ topic }}</p>
    <p>Entries:</p>

    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
    </p>

    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
            </li>
        {% empty %}
            <li>There are no entries for this topic yet.</li>
        {% endfor %}
    </ul>
</body>

{% endblock content %}

</html>